<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin</title>
  <style type="text/css">
      body{
          background-color: #1450C0;
          padding: 0;
          margin: 0;
          font-family: arial;
        }
        #menu{
          background-color: #000;

        }
        #menu ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        #menu ul li{
          display: inline-block;
        }
        #menu ul li a{
          color: white;
          display: block;
          padding: 10px 20px;
          text-decoration: none;

        }
        #menu ul li a:hover{
          background-color: #0356F3 ;
        }

        .item-r{
          float: right;
        }
        #user{
          background-color: black;
        }
        #user li{
          color: #03E7BD;
          display: inline-block;
          text-decoration: none;
        }
        .item-s1{
          margin-top: 5px;
          margin-left: 20px;
        }
        .item-s2{
          float: right;
          margin-top: 5px;
          margin-right: 30px;
        }
        #main-container{
          width: 600px;
          margin: 150px auto;
        }
        table{
          width: 100%;
          background-color: white;
          text-align: left;
          border-collapse: collapse;
        }
        th,td{
          border: solid 1px black;
          padding: 20px;
        }
        thead{
          background-color: black;
          border-bottom: solid 5px #blue;
          color: white;
        }
        tr:nth-child(even){
          background-color: #ddd;

        }
        .titulo:hover th{
          
        }

        .titulo:hover th{
          background-color: red;
          color: white;
        }
        h1{
          margin: 50px auto;
          text-align: center;
        }

        

  </style>
</head>
<body>
  <div id="user">
    <li class="item-s1">Usuario: <%= @current_user.username %></li>
    <li class="item-s2">Admin ID:<%= @current_user.id %></li>
  </div>
  </ul>
  <div id="menu">
    <ul>
      <li><a href="http://localhost:4567/login/home">Home</a></li>
      <li><a href="http://localhost:4567/login/ranking">Ranking</a></li>
      <li class="item-r"><a href="http://localhost:4567/">Logout</a></li>
      <li class="item-r"><a href="http://localhost:4567/login/team">CreateTeam</a></li>
      <li class="item-r"><a href="http://localhost:4567/login/match">CreateMatch</a></li>
      <li class="item-r"><a href="http://localhost:4567/login/createtournament">CreateTournament</a></li>
      <li class="item-r"><a href="http://localhost:4567/login/matchtour">Match/Tournament</a></li>
    </ul>
  </div>
  <main>
    <h1 for='Team'>Ranking</h1>
    <div id="main-container">
      <table>
        <thead>
          <tr>
            <th>ID</th><th>Nombre</th><th>Puntos</th>
          </tr>
        </thead>
          <% @count = 1%>
          <% @user.each do |user| %>
          <%if (user.id != 1)%>
            <%if (@count == 1)%>
              <tr class="titulo"><th><%= "#{user.id}" %></th><th><%= "#{user.username}"%></th><th><%= "#{user.point}"%> ★</th></tr> 
            <% else %>
              <tr class="titulo"><th><%= "#{user.id}" %></th><th><%= "#{user.username}"%></th><th><%= "#{user.point}"%> </th></tr> 
            <% end %>
            <% @count = @count + 1%>
          <% end %>
          <% end %>
      </table>
    </div>

  </main>
</body>
</html>